<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quo nulla ea doloremque voluptate possimus labore quas adipisci facere delectus facilis earum maxime illum inventore non eos error, hic molestiae saepe ipsum fugit accusamus illo aliquam? Totam tenetur quaerat ratione.</p>
    </div>
</div>