<ul class="nav nav-pills">
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Volver</a>
        </li>
    </ul>
<form action="/users/sigin" class="registration" method="POST">
    <div class="col-md-4 d-flex align-items-center mx-auto">
        <div style="height: 100%; width: 100%;">
            <img style="object-fit: cover; width: 100%; height: 100%; " src="/img/gato.jpeg" alt="" > 
        </div>
    </div>
    <h1>👋Bienvenido de vuelta</h1>

    <label class="pure-material-textfield-outlined mx-auto">
     <input placeholder="Email" name="correo" type="email" required>
      <span></span>
    </label>

    <label class="pure-material-textfield-outlined mx-auto">
        <input placeholder="Contraseña" name="contraseña" type="password" required>
        <span></span>
    </label>

    <button class="btn btn-primary mx-auto" type="submit">Sign In</button>
        </div>
    </div>
</div>