
<form action="/users/sigin" class="registration" method="POST">
    <img src="/img/gato.jpeg" class="card-img-top mx-auto" alt="Imagen de gato">
    <h1>👋Bienvenido de vuelta</h1>

    <label class="pure-material-textfield-outlined mx-auto">
     <input placeholder="Email" name="correo" type="email" required>
      <span></span>
    </label>

    <label class="pure-material-textfield-outlined mx-auto">
        <input placeholder="Contraseña" name="contraseña" type="password" required>
        <span></span>
    </label>

    <button class="btn btn-primary btn-block" type="submit">Sign In</button>
        </div>
    </div>
</div>